<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"

    />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trials"
        tools:targetApi="31" >

        <activity
            android:name=".AdminInqView"
            android:exported="true" />
        <activity
            android:name=".LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminDash"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".Interview1"
            android:exported="true" />
        <activity
            android:name=".Skill1"
            android:exported="false" />

        <activity
            android:name=".FreePage2"
            android:exported="false" />
        <activity
            android:name=".FreePage1"
            android:exported="false" />
        <activity
            android:name=".Freelance"
            android:exported="true" />
        <activity
            android:name=".InquiryDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".FetchingActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityInsertion"
            android:exported="true" />
        <activity
            android:name=".RecieveJobList"
            android:exported="true" />
        <activity
            android:name=".JobCategory"
            android:exported="true" />
        <activity
            android:name=".SeekerDetails"
            android:exported="true" />
        <activity
            android:name=".RecieveJobApplication"
            android:exported="true" />
        <activity
            android:name=".UpdateDeleteView"
            android:exported="true" />
        <activity
            android:name=".EditJobs"
            android:exported="true" />
        <activity
            android:name=".PostJobsList"
            android:exported="true" />
        <activity
            android:name=".PostJobs"
            android:exported="true" />
        <activity
            android:name=".CompanyDash"
            android:exported="true" />
        <activity
            android:name=".JobAdd"
            android:exported="true" />
        <activity
            android:name=".JobList"
            android:exported="true" />
        <activity
            android:name=".Launching"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ReadData"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RecentApplied"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SeekerProfile"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CardView"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".JobFormActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".JobEditDelete"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InquiryMainActivity"
            android:exported="true" />
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".JobViewActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>